### Find null values in a data frame

In [3]:
import pandas as pd
import warnings

warnings.simplefilter('ignore')

In [4]:
df = pd.read_csv('Datasets/jobs_in_data.csv')
df.head()

,Work Year,Job Title,Job Category,Salary Currency,Salary,Salary In Usd,Employee Residence,Experience Level,Employment Type,Work Setting,Company Location,Company Size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

### Detect null values in Df

In [14]:
null_values = df.isnull()

In [15]:
null_count_per_column = df.isnull().sum

In [16]:
total_null_count = df.isnull().sum().sum()